.LoginFormContainer___StyledP-sc-cyh04c-7.llNNfK {
  display: none;
}

.LoginFormContainer___StyledH-sc-cyh04c-1.hpqfJy::before {
  content: "Welcome to your panel!";
  display: block; 
}

.LoginContainer___StyledLink-sc-qtrnpk-4.cjgCjC {
  color: #fff !important;
}

.PageContentBlock___StyledP-sc-kbxq2g-3.dcHyfd {
  display: none;
}
