.LoginFormContainer___StyledP-sc-cyh04c-7.llNNfK {
  display: none !important;
}

.LoginFormContainer___StyledH-sc-cyh04c-1.hpqfJy::before {
  content: "Welcome to your panel!" !important;
  display: block !important; 
}

.LoginFormContainer___StyledH-sc-cyh04c-1.hpqfJy::after {
  content: "Welcome to your panel!" !important;
  display: block !important; 
}

.LoginContainer___StyledLink-sc-qtrnpk-4.cjgCjC {
  color: #fff !important;
}

.PageContentBlock___StyledP-sc-kbxq2g-3.dcHyfd {
  display: none !important;
}
